:root {
    --sombra-box: 0px 0px 30px rgba(0, 0, 0, 0.1);
    --cor-sge: #41b9ff;
}

.grid-base {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas: "menu content";
    height: 100vh;
}

aside.menu-lateral {
    grid-area: menu;
    position: fixed;
    width: inherit;
    max-width: 220px;
}

.content {
    grid-area: content;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
    margin: 0px;
}

.space-top {
    position: relative;
    top: 40px;
}