.menu-topo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--cor-sge);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 12px 0;
    border-radius: 5px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.menu a:hover {
    background-color: #005252;
    color: #fff;
}

.menu a img {
    width: 30px;
    margin-right: 10px;
}

.div-sair {
    margin-left: 10px;
}

.sair {
    background-color: #005252;
}

.form-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.img-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bemvindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    margin-left: 10px;
}

.bemvindo h3 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.bemvindo h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.apelido {
    padding: 0px 10px;
    color: #002636;
    font-size: 18px;
}