.card-atividade {
    width: 350px;
}

.body-card-atividade {
    width: 100%;
}

.body-card-atividade div {
    font-size: 17px;
    line-height: 24px;
    text-align: justify;
}

.div-grande {
    width: 100%;
    display: block;
}

.div-media {
    width: 48%;
    display: inline-block;
}

.div-pequena {
    width: 32%;
    display: inline-block;
}

.body-card-atividade h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-card-atividade-p {
    display: flex;
    justify-content: center;
}

.body-card-atividade p {
    margin-top: 8px;
    padding-top: 5px;
    font-size: 15px;
    text-align: justify;
    border-top: 1px solid #b8b8b8;
    box-sizing: border-box;
}