button, .btn-link {
    padding: 10px 18px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.btn-block {
    margin-top: 10px;
    width: 100%;
}

.btn-space-top {
    margin-top: 25px;
}

.btn-right {
    float: right;
    margin-left: 10px;
}

.btn-align-center {
    display: flex;
    justify-content: center;
}

.btn-register-full {
    background-color: #00a100;
    color: #fff;
    border: none;
}

.btn-register {
    color: #00a100;
    border: solid 1px #00a100;
}

.btn-register:hover {
    background-color: #00a100;
    color: #fff;
}

.btn-confirm-full {
    background-color: #00a7bd;
    color: #fff;
    border: none;
}

.btn-confirm {
    color: #00a7bd;
    border: solid 1px #00a7bd;
}

.btn-confirm:hover {
    background-color: #00a7bd;
    color: #fff;
}

.btn-warning-full {
    background-color: #ffc400;
    color: #fff;
    border: none;
}

.btn-warning {
    color: #ffc400;
    border: solid 1px #ffc400;
}

.btn-warning:hover {
    background-color: #ffc400;
    color: #fff;
}

.btn-danger-full {
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.btn-danger {
    color: #ff0000;
    border: solid 1px #ff0000;
}

.btn-danger:hover {
    background-color: #ff0000;
    color: #fff;
}

.btn-evil-full {
    background-color: #1b1b1b;
    color: #fff;
    border: none;
}

.btn-evil {
    color: #1b1b1b;
    border: solid 1px #1b1b1b;
}

.btn-evil:hover {
    background-color: #1b1b1b;
    color: #fff;
}
