.lista {
    width: 90%;
}

.lista-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-header {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 25px 0px;
}

.item-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 12px;
    background-color: #e7e7e7;
    box-sizing: border-box;
}

.item-medio {
    width: 45%;
    padding: 0px 10px;
}

.item-pequeno {
    width: 30%;
    padding: 0px 10px;
}

.item-button {
    width: 10%;
}