.msg-box {
    width: 100%;
    text-align: center;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    box-sizing: border-box;
}

.msg-box-medium {
    width: 90%;
    text-align: center;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    box-sizing: border-box;
}

.msg-success {
    background-color: #b7ffb0;
}

.text-success {
    color: #054100;
}

.msg-info {
    background-color: #c9f9ff;
}

.text-info {
    color: #11565f;
}

.msg-warning {
    background-color: #fff0bd;
}

.text-warning {
    color: #ffc400;
}

.msg-error {
    background-color: #ffd2d2;
}

.text-error {
    color: #860000;
}